@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../assets/bg.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 60rem;
    display: flex;
    background-color: #0008;
    margin: 4%;
}

img {
    width: 300px;
    height: 300px;

}

h1 {
    padding-bottom: 4%;
    font-size: 2rem;
}

h1::after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
}

@keyframes ellipsis {
    to {
      width: 1.25em;    
    }
  }
  
  @-webkit-keyframes ellipsis {
    to {
      width: 1.25em;    
    }
  }

#message {

    padding: 4%;
    text-align: center;
}

